
// Color Variables
// Bootstrap Color Overrides

$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;

$blueDark: #0a043c !default;
$blue: #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #ffc93c !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyandark: #0e918c !default;
$cyan: #40a8c4 !default;
$cyanlight: #a2d5f2 !default;



// Custom Colors
$brand-google: #ea4335;
$brand-facebook: #3b5998;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.


$body-bg:                   $white;
$body-color:                $gray-900;